openapi: 3.0.3
info:
  title: Snov.io Authentication CRM Pipeline API
  description: Snov.io is a sales automation and lead generation platform. The REST API enables programmatic access to email finding, domain search, email verification, drip campaign management, email warm-up, prospect management, CRM pipeline, and webhook subscriptions. Authentication uses OAuth 2.0 client credentials to obtain short-lived Bearer tokens. All API operations consume credits from the account balance.
  version: '2.0'
  contact:
    name: Snov.io Support
    url: https://snov.io/knowledgebase/
  termsOfService: https://snov.io/terms-of-service/
  license:
    name: Proprietary
    url: https://snov.io/terms-of-service/
servers:
- url: https://api.snov.io
  description: Snov.io API server
tags:
- name: CRM Pipeline
  description: CRM pipeline and stage management
paths:
  /v1/pipelines:
    get:
      tags:
      - CRM Pipeline
      summary: List pipelines
      description: Returns all CRM pipelines for the account.
      operationId: listPipelines
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of pipelines
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pipeline'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/pipeline-stages:
    get:
      tags:
      - CRM Pipeline
      summary: List pipeline stages
      description: Returns all stages within CRM pipelines.
      operationId: listPipelineStages
      security:
      - bearerAuth: []
      parameters:
      - name: pipeline_id
        in: query
        schema:
          type: integer
        description: Filter stages by pipeline ID
      responses:
        '200':
          description: List of pipeline stages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PipelineStage'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    PipelineStage:
      type: object
      properties:
        id:
          type: integer
        pipeline_id:
          type: integer
        name:
          type: string
        position:
          type: integer
    Pipeline:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        stages_count:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
  responses:
    Unauthorized:
      description: Unauthorized — missing or invalid Bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Obtain a Bearer token via POST /v1/oauth/access_token using client credentials. Tokens expire after 3600 seconds.
