openapi: 3.0.3
info:
  title: Snov.io Authentication Enrichment API
  description: 'Snov.io sales engagement REST API. Authentication uses the OAuth2 client_credentials grant to exchange an API User ID (client_id) and API Secret (client_secret) for a one-hour Bearer access token. Email finder, domain search, and email verification use an asynchronous pattern: a POST to a `/start` endpoint returns a `task_hash`, then a GET to the matching `/result` endpoint retrieves the outcome. Most request bodies are application/x-www-form-urlencoded; a few v2 endpoints accept JSON. The API is rate limited to 60 requests per minute.'
  termsOfService: https://snov.io/terms-and-conditions
  contact:
    name: Snov.io Support
    url: https://snov.io/api
  version: '1.0'
servers:
- url: https://api.snov.io
  description: Snov.io production API
security:
- OAuth2: []
tags:
- name: Enrichment
paths:
  /v1/get-profile-by-email:
    post:
      operationId: getProfileByEmail
      tags:
      - Enrichment
      summary: Get profile by email
      description: Retrieves comprehensive profile data connected to an email address. Costs 1 credit per request (no charge if no data is found).
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Profile data for the email.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v2/li-profiles-by-urls/start:
    post:
      operationId: startLiProfilesByUrls
      tags:
      - Enrichment
      summary: Start LinkedIn profile enrichment
      description: Extracts complete profile information from LinkedIn member URLs. Costs 1 credit per prospect profile.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - urls
              properties:
                urls:
                  type: array
                  items:
                    type: string
                    format: uri
      responses:
        '200':
          description: Task started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStarted'
  /v2/li-profiles-by-urls/result:
    get:
      operationId: getLiProfilesByUrlsResult
      tags:
      - Enrichment
      summary: Get LinkedIn profile enrichment result
      parameters:
      - $ref: '#/components/parameters/TaskHashQuery'
      responses:
        '200':
          description: Enriched LinkedIn profiles.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  schemas:
    TaskStarted:
      type: object
      properties:
        success:
          type: boolean
        task_hash:
          type: string
        status:
          type: string
          example: in_progress
  parameters:
    TaskHashQuery:
      name: task_hash
      in: query
      required: true
      description: The task hash returned by the matching /start endpoint.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 client_credentials flow. POST client_id and client_secret to /v1/oauth/access_token to obtain a Bearer token, then send it in the Authorization header.
      flows:
        clientCredentials:
          tokenUrl: https://api.snov.io/v1/oauth/access_token
          scopes: {}
